@import "tailwindcss";


.headerNav{
    height: 8vh;


}

.sidebarPrincipal{
    height: 89.5vh;

}

.mainPrincipal{
    box-shadow: inset 0 0  20px rgba(0, 0, 0, 0.437);

}

.formsoli{
    background-color: rgba(0, 0, 0, 0.638);
}

.soliacep{
    background-color:rgba(0, 0, 0, 0.638) ;
}








.User-form{
    background-color: rgba(0, 0, 0, 0.605);
}